@font-face {
    font-family: 'Monogram';
    src: url('../assets/fonts/monogram.ttf')
}

:root {
    --primary-color: #2aa4aa;
    --secondary-color: #61407a;
    --ghost-position: 256px;
    --screen-width: 720px;
    --canvas-height: 480px;
}

html {
    height: 100%;
    font-family: 'Monogram', monospace;
    color: white;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #2e2c3b;
}

.title {
    margin: 1.5rem 0;
    font-size: 4rem;
    text-shadow: 2px 2px var(--primary-color);
}

[fg-screen] {
    position: relative;
    width: var(--screen-width);
    height: calc(var(--canvas-height) + 96px);
    border: solid 3px var(--primary-color);
    background-image:
        url('../assets/imgs/background-light.png'),
        url('../assets/imgs/background-base.png');
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x;
    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: calc(var(--screen-width) + 6px);
    margin: 20px 0;
}

.buttons :first-child {
    margin-right: auto;
}

.buttons :not(:first-child) {
    margin-left: 20px;
}

button {
    width: 120px;
    height: 60px;
    border: solid 3px #61407a;
    background-color: transparent;
    font-family: inherit;
    font-size: 2rem;
    color: inherit;
    user-select: none;
}

button:focus {
    border: solid 3px var(--primary-color);
    outline: none;
}

.canvas {
    position: absolute;
    display: flex;
    width: 100%;
    height: var(--canvas-height);
    overflow: hidden;
}

.score {
    position: absolute;
    right: 0;
    margin: 24px;
    font-size: 48px;
    line-height: 50%;
    text-shadow: 0 0 2px black;
    z-index: 1;
}

.ghost {
    position: absolute;
    left: var(--ghost-position);
    width: 42px;
    height: 42px;
}

.barrier {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.column.head {
    width: 48px;
    height: 12px;
    background-image: url('../assets/imgs/column-head.png');
}

.column.body {
    flex-basis: 1px;
    width: 36px;
    background-image: url('../assets/imgs/column-body.png');
}

.column.top {
    transform: scaleY(-1);
}

.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/imgs/game-over.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 720px) {
    :root {
        --ghost-position: 64px;
        --screen-width: 90%;
        --canvas-height: calc(100% - 96px);
    }

    html {
        font-size: 12px;
    }

    [fg-screen] {
        background-size: auto var(--canvas-height), auto;
    }
}
